:root {
	--bg: hsl(220, 10%, 8%);
	--bg-2: hsl(220, 10%, 11%);
	--bg-3: hsl(220, 10%, 16%);
	--txt-3: hsl(220, 11%, 35%);
	--txt-2: hsl(220, 11%, 60%);
	--txt: hsl(220, 30%, 80%);
	--txt-0: hsl(220, 45%, 90%);
	--blue: hsl(190, 70%, 50%);
	--purple: hsl(240, 80%, 66%);
	--pink: hsl(279, 80%, 66%);
	font-family: 'Space Grotesk Variable', sans-serif;
	font-weight: 300;
}

* {
	box-sizing: border-box;
}

@media (prefers-reduced-motion) {
	* {
		animation-delay: 0ms !important;
		animation-duration: 0ms !important;
		transition-duration: 0ms !important;
	}
}

html {
	height: 100%;
	scrollbar-width: thin;
	scrollbar-color: var(--bg-3) transparent;
	scrollbar-gutter: stable;
}

body {
	@include flex(column);
	background: var(--bg);
	color: var(--txt);
	margin: 0;
	min-height: 100vh;
	height: 100%;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	line-height: 1.3;
	color: var(--txt-0);
	line-height: 1.3;
	font-variant-ligatures: no-common-ligatures;
}

h1 {
	font-size: 3rem;
	margin: 1rem 0 3rem 0;
}
h2 {
	font-size: 2rem;
	margin: 3rem 0 1.5rem 0;
}
h3 {
	font-size: 1.4rem;
	margin: 1.5rem 0 1rem 0;
}
h4 {
	font-size: 1.1rem;
	margin: 1.5rem 0 1rem 0;
}

code {
	font-family: 'Space Mono', monospace;
	background: var(--bg-2);
	padding: 0 0.3em;
	font-size: 1rem;
	// border-radius: 0.25rem;
	font-variant-ligatures: no-contextual;
	color: #cdd6f4;
}

pre {
	font-family: 'Space Mono', monospace;
	background: var(--bg-2) !important;
	padding: 0.75rem;
	// border-radius: 0.5rem;
	overflow-x: auto;
	font-size: 1rem;
	max-width: calc(100vw - 3rem);

	code {
		background: none;
		padding: initial;
	}
}

li {
	font-size: 1.1rem;
	margin: 0.5rem 0;
}

a {
	color: inherit;
	text-decoration: none;
}

picture {
	display: flex;
}

source {
	display: block;
}

button {
	border: none;
	font: inherit;
	color: inherit;

	&:hover {
		cursor: pointer;
	}
}

p {
	font-size: 1.1rem;
	line-height: 1.75;
}

div.description {
	line-height: 1.5;
	color: var(--txt-2);
}

.pfp {
	border-radius: 50%;
	transition: transform 1.5s;

	&:hover {
		cursor: pointer;
		transform: rotate(360deg);
	}
}

a.nav {
	position: relative;
	.arrow {
		position: absolute;
		top: -0.02em;
		transform: rotate(-72deg) scale(1, 0);
		transition: 0.3s;
		transform-origin: 50% 53%;
	}
	.slash {
		display: inline-block;
		transition: 0.3s;
		transform: scale(1, 1) rotate(0deg);
		line-height: 0;
	}
	&:hover {
		.arrow {
			transform: rotate(0deg) scale(1, 1);
		}
		.slash {
			margin-right: 0.4ch;
			transform: scale(0.5, 0.5) rotate(72deg);
		}
	}
}

a.external {
	position: relative;
	.arrow {
		display: inline-block;
		margin-left: 0.4ch;
		transition: 0.2s;
	}
	&:hover {
		text-decoration: underline;
		.arrow {
			transform: translate(0.2em, -0.2em);
		}
	}
}

a.link {
	.arrow {
		display: inline-block;
		margin-left: 0.5ch;
		opacity: 0;
		transform: translateX(-0.6em);
		transition: 0.2s;
	}
	&:hover {
		.arrow {
			width: auto;
			transform: translateX(0);
			opacity: 1;
		}
	}
}

blockquote {
	border-left: 2px solid var(--txt-2);
	padding-left: 1.5rem;
	margin: 2rem 0;
	color: var(--txt-2);
}
hr {
	border: none;
	border-top: 2px solid var(--bg-3);
	margin: 1.5rem 0;
}
strong {
	font-weight: 600;
}

figure {
	margin: 0;
}

.content {
	a {
		font-weight: 600;
		text-decoration: underline;
		text-decoration-color: var(--txt-3);
		text-decoration-thickness: 2px;
		transition: text-decoration-color 0.2s;
		&:hover {
			text-decoration-color: var(--txt);
		}
	}

	picture {
		margin: 2rem 0;
	}

	figure {
		margin: 2rem 0;

		picture {
			margin: 0;
		}
	}

	ol,
	ul {
		font-size: 1.1rem;
		line-height: 1.75;
	}
}

iconify-icon {
	vertical-align: sub;
	padding-right: 0.75ch;
	font-size: 1.1em;
}

.icon {
	vertical-align: sub;
}

.sub {
	color: var(--txt-2);
}

@media (max-width: 1000px) {
	:root {
		font-size: 87.5%;
	}
}
