:root {
	--bg: hsl(220, 10%, 8%);
	--text: hsl(220, 30%, 90%);
	--blue: #26bbd9;
	--purple: #6262ee;
	--pink: #bd63ee;
	font-family: 'Space Grotesk';
	font-weight: 300;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background: var(--bg);
	color: var(--text);
	margin: 0;
	height: 100%;
}

.content {
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

h1,
h2 {
	font-family: 'Space Mono';
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
}

.slash {
	display: inline-block;
	width: 1ch;
	transition: 0.2s;
	transform: rotate(0deg);
	transform-origin: 30% 60%;
}

a:hover .slash {
	width: 2ch;
	transform: rotate(72deg);
}
